# Set update schedule for GitHub Actions

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    rebase-strategy: disabled

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 20
    rebase-strategy: disabled
    groups:
      patch-updates:
        patterns:
          - "*"
        update-types:
          - "patch"

      minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
