name: 'Setup Project'
description: 'Common setup steps for all CI jobs'
runs:
  using: "composite"
  steps:
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        cache-read-only: false
        dependency-graph: generate-and-submit