name: CI & Internal Distribution

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Run lint
        run: ./gradlew lint

      - name: upload html lint report
        uses: actions/upload-artifact@v6
        with:
          name: lint.html
          path: app/build/reports/lint-results-debug.html

      - name: Run Unit Tests
        run: ./gradlew test

      - name: upload test result
        uses: actions/upload-artifact@v6
        with:
          name: Unit test result
          path: app/build/reports/tests/testDebugUnitTest/

      - name: Build debug app
        run: ./gradlew assembleDebug

      - name: upload debug apk
        uses: actions/upload-artifact@v6
        with:
          name: debug.apk
          path: app/build/outputs/apk/debug/SafeBox-debug.apk

      - name: Build QA apk
        run: ./gradlew assembleQa

      - name: Upload QA APK
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event_name == 'pull_request' && format('SafeBox-QA-PR-{0}', github.event.pull_request.number) || 'SafeBox-QA-Master' }}
          path: app/build/outputs/apk/qa/*.apk
          retention-days: 7

      # todo delete lines
      - name: Set release key store Properties
        env:
          RELEASE_KEYSTORE_PROPERTIES: ${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}
        run: echo "$RELEASE_KEYSTORE_PROPERTIES" > ./releaseKeyStore.properties

      - name: Prepare keystore
        run: |
          echo "${{ secrets.BASE_64_RELEASE_KEYSTORE }}" > ./releaseKeyStore.jks.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSPHRASE }}" --batch ./releaseKeyStore.jks.asc > ./app/releaseKeyStore.jks

      - name: Prepare google services json
        run: |
          echo "${{ secrets.BASE_64_GOOGLE_SERVICES_JSON }}" > ./app/google-services.json.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSPHRASE }}" --batch ./app/google-services.json.asc > ./app/google-services.json

      - name: Build release bundle and QA apk
        run: ./gradlew bundleRelease assembleQa

      - name: upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: |
            app/build/outputs/bundle/release/*.aab
            app/build/outputs/apk/qa/*.apk
          retention-days: 1