name: CI & Internal Distribution

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Set release key store Properties
        env:
          RELEASE_KEYSTORE_PROPERTIES: ${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}
        run: echo "$RELEASE_KEYSTORE_PROPERTIES" > ./releaseKeyStore.properties

      - name: Prepare keystore
        run: |
          echo "${{ secrets.BASE_64_RELEASE_KEYSTORE }}" > ./releaseKeyStore.jks.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSPHRASE }}" --batch ./releaseKeyStore.jks.asc > ./app/releaseKeyStore.jks

      - name: Prepare google services json
        run: |
          echo "${{ secrets.BASE_64_GOOGLE_SERVICES_JSON }}" > ./app/google-services.json.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSPHRASE }}" --batch ./app/google-services.json.asc > ./app/google-services.json

      - name: Build release bundle and QA apk
        run: ./gradlew bundleRelease assembleQa

      - name: upload QA apk
        uses: actions/upload-artifact@v6
        with:
          name: QA APK
          path: app/build/outputs/apk/qa/*.apk
          retention-days: 7

      - name: upload release bundle
        uses: actions/upload-artifact@v6
        with:
          name: release aab
          path: app/build/outputs/bundle/release/*.aab
          retention-days: 1

      - name: inspect AAB for symbols
        run: unzip -l app/build/outputs/bundle/qa/*.aab | grep "BUNDLE-METADATA"

      - name: Debug NDK and SDK Paths
        run: |
          echo "ANDROID_HOME: $ANDROID_HOME"
          echo "ANDROID_SDK_ROOT: $ANDROID_SDK_ROOT"
          echo "ANDROID_NDK_HOME: $ANDROID_NDK_HOME"
          echo "Checking NDK folder structure:"
          ls -d $ANDROID_HOME/ndk/* || echo "No NDK versions found in default path"