name: CI & Internal Distribution

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Run lint
        run: ./gradlew lint

      - name: upload html lint report
        uses: actions/upload-artifact@v6
        with:
          name: lint result
          path: app/build/reports/lint-results-debug.html

      - name: Run Unit Tests
        run: ./gradlew test

      - name: upload test result
        uses: actions/upload-artifact@v6
        with:
          name: Unit test result
          path: app/build/reports/tests/testDebugUnitTest/

      - name: Build apks
        run: ./gradlew assembleDebug assembleQa

      - name: upload symbols file
        run: ./gradlew uploadCrashlyticsSymbolFileQa

      - name: upload debug apk
        uses: actions/upload-artifact@v6
        with:
          name: debug app
          path: app/build/outputs/apk/debug/SafeBox-debug.apk

      - name: Upload QA APK
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event_name == 'pull_request' && format('SafeBox-QA-PR-{0}', github.event.pull_request.number) || 'SafeBox-QA-Master' }}
          path: app/build/outputs/apk/qa/*.apk
          retention-days: 7